<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LptMemberMapper">

    <resultMap type="LptMember" id="LptMemberResult">
        <result property="id"    column="id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="userId"    column="user_id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="salt"    column="salt"    />
        <result property="isRelease"    column="is_release"    />
        <result property="mailbox"    column="mailbox"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="facility"    column="facility"    />
        <result property="riskNumber"    column="risk_number"    />
        <result property="faceBase64"    column="faceBase64"    />
    </resultMap>

    <sql id="selectLptMemberVo">
        select id, create_by, create_time, update_by, update_time, remark, user_id, username, password, salt, is_release, mailbox, login_ip, facility, risk_number,faceBase64 from lpt_member
    </sql>

    <select id="selectLptMemberList" parameterType="LptMember" resultMap="LptMemberResult">
        <include refid="selectLptMemberVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password like concat('%', #{password}, '%')</if>
            <if test="salt != null  and salt != ''"> and salt like concat('%', #{salt}, '%')</if>
            <if test="isRelease != null "> and is_release = #{isRelease}</if>
            <if test="mailbox != null  and mailbox != ''"> and mailbox = #{mailbox}</if>
            <if test="loginIp != null  and loginIp != ''"> and login_ip = #{loginIp}</if>
            <if test="facility != null  and facility != ''"> and facility = #{facility}</if>
            <if test="riskNumber != null "> and risk_number = #{riskNumber}</if>
        </where>
    </select>

    <select id="selectLptMemberById" parameterType="Long" resultMap="LptMemberResult">
        <include refid="selectLptMemberVo"/>
        where id = #{id}
    </select>

    <select id="selectLptMemberByUsername" parameterType="String" resultMap="LptMemberResult">
        <include refid="selectLptMemberVo"/>
        where username = #{username}
    </select>

    <insert id="insertLptMember" parameterType="LptMember" useGeneratedKeys="true" keyProperty="id">
        insert into lpt_member
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="userId != null">user_id,</if>
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="salt != null">salt,</if>
            <if test="isRelease != null">is_release,</if>
            <if test="mailbox != null">mailbox,</if>
            <if test="loginIp != null">login_ip,</if>
            <if test="facility != null">facility,</if>
            <if test="riskNumber != null">risk_number,</if>
            <if test="faceBase64 != null">faceBase64,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="userId != null">#{userId},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="salt != null">#{salt},</if>
            <if test="isRelease != null">#{isRelease},</if>
            <if test="mailbox != null">#{mailbox},</if>
            <if test="loginIp != null">#{loginIp},</if>
            <if test="facility != null">#{facility},</if>
            <if test="riskNumber != null">#{riskNumber},</if>
            <if test="faceBase64 != null">#{faceBase64},</if>
         </trim>
    </insert>

    <update id="updateLptMember" parameterType="LptMember">
        update lpt_member
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="salt != null">salt = #{salt},</if>
            <if test="isRelease != null">is_release = #{isRelease},</if>
            <if test="mailbox != null">mailbox = #{mailbox},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="facility != null">facility = #{facility},</if>
            <if test="riskNumber != null">risk_number = #{riskNumber},</if>
            <if test="faceBase64 != null">faceBase64 = #{faceBase64},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLptMemberById" parameterType="Long">
        delete from lpt_member where id = #{id}
    </delete>

    <delete id="deleteLptMemberByIds" parameterType="String">
        delete from lpt_member where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
